body{
	background-color: #CC66CC;
	padding-top: 50px;
	background-size: 100% 100%;
	font: oblique bold 120% cursive; 
}
.TPrincipal{
	border-radius: 30px;
	background-color: #808080;
	width: 75%;
	height: 80%;  
}
.TPrincipal td{
	vertical-align: top;
	width: 100%;
	padding-top: 5px;
	padding-right: 10px;

}
.Encabezado{
	height: 300px;
}
.TCabecera{	
	width: 100%;
	text-align: right;
}
.TCabecera th{
	height: 300px;	
}
.Titulo{	
	border-radius: 30px;
	background-size: 100% 100%;
	background-image: url("../Imagenes/titulo.png");
	height: 100%;
	width: 100%;
}
.Menu{
	height: 50px;
}

 .Formulario{
 	width: 100%;
 	vertical-align: top;
 }
 .TFormulario{
 	width: 40%;
 }
 .Terminos{
 	margin-bottom: 0;
 	width: 75%;
 	text-align: center;
 }
.TLogin{
	margin: 0 auto;
	background-color: #808080;
	width: 35%;
	height: 25%;
	border-radius: 30px;
	padding-left: 20px;
}

 .btn {
  background: #CCCCCC;
  background-image: -webkit-linear-gradient(top, #CCCCCC, #C0C0C0);
  background-image: -moz-linear-gradient(top, #CCCCCC, #C0C0C0);
  background-image: -ms-linear-gradient(top, #CCCCCC, #C0C0C0);
  background-image: -o-linear-gradient(top, #CCCCCC, #C0C0C0);
  background-image: linear-gradient(to bottom, #CCCCCC, #C0C0C0);
  border-radius: 20px;
  font-family: cursive;
  font-size: 15px;
  padding: 0px 20px 10px 20px;
  text-decoration: none;
  height: 30px;
}

.btn:hover {
  background: #C0C0C0;
  background-image: -webkit-linear-gradient(top, #C0C0C0, #CCCCCC);
  background-image: -moz-linear-gradient(top, #C0C0C0, #CCCCCC);
  background-image: -ms-linear-gradient(top, #C0C0C0, #CCCCCC);
  background-image: -o-linear-gradient(top, #C0C0C0, #CCCCCC);
  background-image: linear-gradient(to bottom, #C0C0C0, #CCCCCC);
  text-decoration: none;
}

.enlace {    font-family: verdana, cursive, sans-serif; 
   font-size: 10pt; 
   font-weight: bold; 
   padding: 4px; 
   background-color: #CCCCCC; 
   text-decoration: none; 
   border-radius: 5px;
} 
.enlace:link, 
.enlace:visited { 
   border-top: 1px solid #cccccc; 
   border-bottom: 2px solid #666666; 
   border-left: 1px solid #cccccc; 
   border-right: 2px solid #666666; 
} 
.enlace:hover { 
    border-bottom: 1px solid #cccccc; 
   border-top: 2px solid #666666; 
   border-right: 1px solid #cccccc; 
   border-left: 2px solid #666666; 
}
