body{
	background-color: #EEE;
	background-size: 100% 100%; 
}
.login{
    background-color: white;
	margin-top: 10%;
	border-radius: 15px;
    padding: 5%;
}

.heading{
    background-color: #EEE;
    color: royalblue;
    border-radius: 5px;
    padding: 2px;
    padding-left: 20px;
  
}
.controls{
    padding-top: 5%;
}


